
    /*HEADING*/
    h1 {
      font-family: 'Instrument Serif', serif;
    }

    /*BODY*/ 
    body {
      background-color: #F0F2F0;
      font-family: 'Inria Serif', serif;
      font-style: normal;
      font-weight: 200;
    }

    /*THE BOX*/
    .box {
      background-color: white;
      padding: 5%;
      width: 75%;
      margin: 10vh auto;
      text-align: left;
      border-radius: 5px;
    }
  
    .box h1 {
      font-size: 50px;
      margin-bottom: 25px;
    }

    .box p {
      font-size: 20px;
      line-height: 1.6;
      margin-bottom: 60px;
    }


    /*MY BUTTONS*/
    .button {
      background-color: black;
      color: white;
      padding: 15px 25px;
      font-size: 18px;
      margin: 40px 20px;
      text-align: center;
    }
    
